main {
    text-align: center;
}

.datetime {
    line-height: 45px;
}

.datetime_time {
    font-size: 72px;
}

.index-menu_link {
    display: inline-block;
    height: 27px;
    width: auto;
    padding: 1px 6px;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    background-color: #c5c5c5;
}

.index-menu:hover {
    background-color: #c5c5c5;
    cursor: pointer;
}

.index-menu::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
/*header {*/
/*    display: flex;*/
/*}*/
.author {
    justify-content: left;
}

.logout{
    justify-content: right;
}
/*.logout {*/
/*    display: flex;*/
/*    justify-content: right;*/
/*}*/

/*.author text {*/
/*    font-family: Papyrus;*/
/*}*/